
.close {
    top: 0;
    left: -32px;
    cursor: pointer;
    position: absolute;
    padding: 2px;
    
}
.close::after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #fff;
    transform: rotate(-45deg);

}
.close::before{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.content {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-header {
    width: 100%;
    display: table;
    min-height: 100px;
    padding: 8px;
}

.cart-left {
    display: table-cell;
    width: 225px;
}
.added-to-cart-message {
    border-width: 0;
    padding-right: 10px;
    display: inline-block;
}
.box-message {
    padding: 14px 18px 6px 50px;
}

.icon-confirm {
    color:  var(--bs-orange-300);
    position: absolute;
    top: 20px;
    left: 25px;
    height: 20px;
    width: 20px;

}
.message {
    margin: 0;
    padding-left: 12px;
    font-size: 18px;
}

.cart-right {
    display: table-cell;
}
.added-img {
    display: flex;
    flex-basis: 1;
    justify-content: center;
}
.thumb {
    vertical-align: top;
}
.sidebar-cart-body {
    padding: 10px;
    background-color: #e7e7e7;
    flex-grow: 1
}
.sidebar-cart-body-content {
    background-color: #fff;
    height: 100%;
    padding: 8px;
}
.subtotal {
    margin: 0;
    margin-top: 2rem;
    font-size: 17px;
}    

