.close {
    top: 0;
    left: -32px;
    cursor: pointer;
    position: absolute;
    padding: 2px;
    
}
.close::after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #fff;
    transform: rotate(-45deg);

}
.close::before{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.content {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart-header {
    width: 100%;
    display: block;
    min-height: 100px;
    padding: 8px;
}

.cart-left {
    display: table;
}
.added-to-cart-message {
    border-width: 0;
    padding-right: 10px;
    display: inline-block;
}
.box-message {
    padding: 14px 18px 6px 50px;
}


.cart-right {

}
